__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.env
.env.*
.pytest_cache/
.mypy_cache/
ruff_cache/
.settings/
.idea/
.vscode/
.coverage
htmlcov/
.data/
*.sqlite3
*.db
/data/app.db
data/
.sync/

*.egg-info/
fonts-raw/
static/uploads/
static/build/
